---
title: Yubots
---

<section class="intro">
  <div class="intro__container">
    <div class="intro__info fadeIn animated">
      <h2 class="intro__title">Automatiza los mensajes de tu marca o negocio en Messenger y brinda respuesta 24/7 a tus clientes</h2>
      <p class="intro__text">Te ayudamos a diseñar la mejor experiencia en Chatbots para <strong>automatizar el contacto con tus seguidores y clientes.</strong></p>
      <div>
        <a href="#" class="btn btn-alternative">Solicitar Demo <i class="fas fa-comment-alt"></i></a>
      </div>
    </div>
    <div class="intro__demo fadeIn animated">
      <%= image_tag "iphone.png", class: "iphone" %>
    </div>
  </div>
</section>

<section class="trust">
  <div class="container">
    <p class="trust__text">Con la confianza de las empresas más innovadoras del mundo, tanto grandes como pequeñas</p>
    <div class="trust__logos wow fadeIn">
      <%= image_tag "1.png", class: "trust__logo" %>
      <%= image_tag "2.png", class: "trust__logo" %>
      <%= image_tag "3.png", class: "trust__logo" %>
      <%= image_tag "4.png", class: "trust__logo" %>
      <%= image_tag "5.png", class: "trust__logo" %>
    </div>
    <p>Algunos árticulos sobre nosotros</p>
     <div class="trust__logos wow fadeIn">
      <%= image_tag "6.png", class: "trust__logo" %>
      <%= image_tag "7.png", class: "trust__logo" %>
      <%= image_tag "8.png", class: "trust__logo" %>
      <%= image_tag "9.png", class: "trust__logo" %>
    </div>
  </div>
</section>

<section class="how" id="how">
  <div class="container columns">
    <div class="how__info">
      <h4 class="how__title wow fadeIn">¿Qué es un chatbot?</h4>
      <p class="how__text wow fadeIn" data-wow-delay="0.2s">¡Un Chatbot es el call center del futuro! Un agente digital que, gracias al uso de inteligencia artificial y una interfaz amigable en chat, atiende a tus clientes ofreciéndoles información inmediata y personalizada según sus necesidades.</p>
    </div>
    <div>
      <%= image_tag "how.png", class: "how__images wow fadeIn" %>
    </div>
  </div>
</section>

<section class="cases text-center" id="cases">
  <div class="container">
    <div>
      <h4 class="section__subtitle">Casos de Uso</h4>
      <h3 class="section__title">¿Para que puede servirme un chatbot?</h3>
    </div>
  </div>
  <div class="tabs">
    <div class="tabs__nav">
      <a class="is-active" href="javascript:;" data-tab="1">Servicio a Cliente</a>
      <a  href="javascript:;" data-tab="2">Marketing y Promociones</a>
      <a  href="javascript:;" data-tab="3">Ventas / Ecommerce</a>
      <a  href="javascript:;" data-tab="4">Influencers</a>
    </div>
    <div class="tabs__content">
      <div class="tab is-active" data-tab="1">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Servicio a Clientes</h4>
            <h3 class="tab__title">Te ayuda a brindar una respuesta inmediata a las preguntas frecuentes de tu marca o negocio.</h3>

            <h5 class="tab__label">Herramientas</h5>
            <h4 class="tab__subtitle">Preguntas Frecuentes, Analísis de respuestas, Capacitación.</h4>
            <br>
            <a href="#" class="btn btn-tab">Ver demo <i class="fab fa-facebook-messenger"></i></a>

          </div>
          <div class="tab__image">
            <%= image_tag "tab-1.png" %>
          </div>
        </article>
      </div>
      <div class="tab" data-tab="2">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Marketing y Promociones</h4>
            <h3 class="tab__title">Envía por chat las novedades y promociones de tu marca o negocio</h3>

            <h5 class="tab__label">Herramientas</h5>
            <h4 class="tab__subtitle">Preguntas Frecuentes, Analísis de respuestas, Capacitación.</h4>
            <br>
            <a href="#" class="btn btn-tab">Ver demo <i class="fab fa-facebook-messenger"></i></a>

          </div>
          <div class="tab__image">
            <%= image_tag "tab-2.png" %>
          </div>
        </article>
      </div>
      <div class="tab" data-tab="3">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Ventas / Ecommerce</h4>
            <h3 class="tab__title">Recomienda productos, finaliza tu venta y realiza ventas cruzadas</h3>

            <h5 class="tab__label">Herramientas</h5>
            <h4 class="tab__subtitle">Preguntas Frecuentes, Analísis de respuestas, Capacitación.</h4>
            <br>
            <a href="#" class="btn btn-tab">Ver demo <i class="fab fa-facebook-messenger"></i></a>

          </div>
          <div class="tab__image">
            <%= image_tag "tab-3.png" %>
          </div>
        </article>
      </div>
      <div class="tab" data-tab="4">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Lideres de Opinión , Equipos Deportivos & Celebrities</h4>
            <h3 class="tab__title">Habilita el canal de chat para interactuar con tus seguidores y brinda información relevante, contenido exclusivo y respuestas 1:1</h3>

            <h5 class="tab__label">Herramientas</h5>
            <h4 class="tab__subtitle">Preguntas Frecuentes, Analísis de respuestas, Capacitación.</h4>
            <br>
            <a href="#" class="btn btn-tab">Ver demo <i class="fab fa-facebook-messenger"></i></a>

          </div>
          <div class="tab__image">
            <%= image_tag "tab-4.png" %>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="text-center">
      <h4 class="section__subtitle">Funcionalidades</h4>
      <h3 class="section__title">Beneficios de tener un chatbot</h3>
    </div>
    <div class="features__list">
      <div class="features__item wow fadeIn" data-wow-delay="0.2s" >
        <div class="features__icon">
          <i class="fas fa-edit"></i>
        </div>
        <h4 class="features__title">Feedback / Encuestas</h4>
        <p class="features__text">Conoce la opinión de tus clientes sobre tu producto o servicio a través de encuestas diferenciadas por chat</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="0.4s" >
        <div class="features__icon">
          <i class="fas fa-calendar-alt"></i>
        </div>
        <h4 class="features__title">Citas y Reservaciones</h4>
        <p class="features__text">El bot se convierte en un asistente que maneja tu agenda y brinda disonibilidad de citas segun tu calendario.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="0.6s" >
        <div class="features__icon">
          <i class="fas fa-book"></i>
        </div>
        <h4 class="features__title">Capacitación</h4>
        <p class="features__text">Te permite difundir conocimiento y evaluar el aprendizaje del mismo por chat.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="0.8s" >
        <div class="features__icon">
          <i class="fas fa-bell"></i>
        </div>
        <h4 class="features__title">Notificaciones</h4>
        <p class="features__text">Envia recordatorios y reactiva la conversación con tus clientes y/o futuros clientes.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="1s" >
        <div class="features__icon">
          <i class="fas fa-plug"></i>
        </div>
        <h4 class="features__title">Integraciones</h4>
        <p class="features__text">Integra el bot con tus sistemas para ofrecer tus productos y servicios en un nuevo canal.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="1.2s">
        <div class="features__icon">
          <i class="fas fa-images"></i>
        </div>
        <h4 class="features__title">Envios de Multimedia</h4>
        <p class="features__text">Nuestros bots son interactivos  y utilizan imágenes, gifs,  audios y videos para tener un mejor engagement con tus usuarios.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="1.4s" >
        <div class="features__icon">
          <i class="fas fa-user"></i>
        </div>
        <h4 class="features__title">Intervención Humana</h4>
        <p class="features__text">El chatbot escala con un humano aquellas conversaciones que necesiten especial atención</p>
      </div>
    </div>
    <div class="text-center">
      <p class="more">Y muchas otras funciones especializadas para tus negocios...</p>
    </div>
  </div>
</section>

<section class="call-to wow fadeIn">
  <div class="container">
    <div>
      <p class="call-to__text">¡Logra un <strong>90% de automatización</strong><br> en las interacciones con tus clientes!</p>
    </div>
    <div>
      <a class="btn btn-action" href="#">Solicitar Demo</a>
    </div>
  </div>
</section>

<section class="process">
  <div class="container">
    <div>
      <h4 class="section__subtitle">Proceso</h4>
      <h3 class="section__title">¿Cómo creamos el chatbot <br> perfecto para tu negocio?</h3>
    </div>

    <div class="columns">

      <div class="columns process__step wow fadeIn">
        <article class="process__item">
          <div class="process__item-icon">
            <i class="fas fa-search"></i>
          </div>
          <h4 class="process__item-step">Primer Paso</h4>
          <h3 class="process__item-title">Discovery</h3>
          <p class="process__item-text">El primer paso es conocer patrones en conversaciones, entender motivos e intenciones de tus clientes, hacemos un díagonstico de las necesides y oportunidad detectadas.</p>
        </article>
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow right" %>
        </div>
      </div>

      <div class="columns process__step wow fadeIn" data-wow-delay="0.4s">
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow left" %>
        </div>
        <article class="process__item">
          <div class="process__item-icon">
            <i class="fas fa-pencil-alt"></i>
          </div>
          <h4 class="process__item-step">Segundo Paso</h4>
          <h3 class="process__item-title">Design (UI/UX)</h3>
          <p class="process__item-text">El primer paso es conocer patrones en conversaciones, entender motivos e intenciones de tus clientes, hacemos un díagonstico de las necesides y oportunidad detectadas.</p>
        </article>
      </div>

      <div class="columns process__step wow fadeIn">
        <article class="process__item wow fadeIn">
          <div class="process__item-icon">
            <i class="fas fa-cogs"></i>
          </div>
          <h4 class="process__item-step">Tercer Paso</h4>
          <h3 class="process__item-title">Development & Testing</h3>
          <p class="process__item-text">El primer paso es conocer patrones en conversaciones, entender motivos e intenciones de tus clientes, hacemos un díagonstico de las necesides y oportunidad detectadas.</p>
        </article>
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow right" %>
        </div>
      </div>

      <div class="columns process__step wow fadeIn">
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow blank" %>
        </div>
        <article class="process__item">
          <div class="process__item-icon">
            <i class="fas fa-rocket"></i>
          </div>
          <h4 class="process__item-step">Cuarto Paso</h4>
          <h3 class="process__item-title">Launch & Mantanence</h3>
          <p class="process__item-text">El primer paso es conocer patrones en conversaciones, entender motivos e intenciones de tus clientes, hacemos un díagonstico de las necesides y oportunidad detectadas.</p>
        </article>
      </div>


    </div>
  </div>
</section>

<section class="contact text-center" id="contact">
  <div class="wow fadeIn">
    <h2 class="contact__title">¡Queremos ayudarte a mejorar tu negocio!</h2>
    <p class="contact__text">Contactanos ahora para agendar un diagnostico y <br> comienza a vender más.</p>
    <a href="#" class="btn-contact btn">Solicitar Demostración <i class="fab fa-facebook-messenger"></i></a>
    <div class="contact__more wow fadeInUp" data-wow-delay="0.4s">
      <span>O contactanos:</span>
      <nav class="contact__nav">
        <div>
          <i class="fas fa-phone"></i>
          <a href="mailto:contacto@yubots.mx">contacto@yubots.mx</a>
        </div>
        <div>
          <i class="fas fa-envelope"></i>
          <a href="mailto:contacto@yubots.mx">+1 52 811 652 0878</a>
        </div>
        <div>
          <i class="fab fa-facebook"></i>
          <a href="mailto:contacto@yubots.mx">/yubots</a>
        </div>
      </nav>
    </div>
  </div>
</section>