---
title: Yubots
---

<section class="intro">
  <div class="intro__container">
    <div class="intro__info fadeIn animated">
      <h2 class="intro__title">Inteligencia Artificial al alcance de tu marca o negocio</h2>
      <p class="intro__text">Con un Chatbot puedes automatizar los mensajes que recibes por chat y asi contestar el 100% de los mensajes
        las 24 horas del día.</p>
      <div>
        <a href="#" class="btn btn-alternative">Solicitar Demo <i class="fas fa-comment-alt"></i></a>
      </div>
    </div>
    <div class="intro__demo fadeIn animated">
      <%= image_tag "iphone.png", class: "iphone" %>
    </div>
  </div>
</section>

<section class="trust">
  <div class="container">
    <div>
      <p class="trust__text">Con la confianza de las empresas más innovadoras del mundo, tanto grandes como pequeñas</p>
      <div class="trust__logos wow fadeIn">
        <%= image_tag "1.png", class: "trust__logo" %>
        <%= image_tag "2.png", class: "trust__logo" %>
        <%= image_tag "3.png", class: "trust__logo" %>
        <%= image_tag "4.png", class: "trust__logo" %>
        <%= image_tag "5.png", class: "trust__logo" %>
        <%= image_tag "10.png", class: "trust__logo" %>
      </div>
    </div>
    <!-- <div>
      <p class="trust__text">Algunos árticulos sobre nosotros</p>
      <div class="trust__logos wow fadeIn">
        <%= image_tag "6.png", class: "trust__logo" %>
        <%= image_tag "7.png", class: "trust__logo" %>
        <%= image_tag "8.png", class: "trust__logo" %>
        <%= image_tag "9.png", class: "trust__logo" %>
      </div>
    </div> -->
  </div>
</section>

<section class="how" id="how">
  <div class="container columns">
    <div class="how__info">
      <h4 class="how__title wow fadeIn">¿Qué es un chatbot?</h4>
      <p class="how__text wow fadeIn" data-wow-delay="0.2s">Un chatbot es un asistente digital que gracias al uso de inteligencia artificial y una interfaz amigable pude en chat puede ofrecer a tus clientes atención inmediata y personalizada disponible en todo momento.</p>
    </div>
    <div>
      <%= image_tag "how.svg", class: "how__images wow fadeIn" %>
    </div>
  </div>
</section>

<section class="cases text-center" id="cases">
  <div class="container">
    <div>
      <h4 class="section__subtitle">Casos de Uso</h4>
      <h3 class="section__title">¿Para que puede servirme un chatbot?</h3>
    </div>
  </div>
  <div class="tabs">
    <div class="tabs__nav">
      <a class="is-active" href="javascript:;" data-tab="1">Servicio a Cliente</a>
      <a  href="javascript:;" data-tab="2">Marketing y Promociones</a>
      <a  href="javascript:;" data-tab="3">Ventas / Ecommerce</a>
      <a  href="javascript:;" data-tab="4">Influencers</a>
    </div>
    <div class="tabs__content">
      <div class="tab is-active" data-tab="1">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Servicio a Clientes</h4>
            <h3 class="tab__title">Te ayuda a brindar una respuesta inmediata a las preguntas frecuentes de tu marca o negocio.</h3>

          </div>
          <div class="tab__image">
            <%= image_tag "tab-1.png" %>
          </div>
        </article>
      </div>
      <div class="tab" data-tab="2">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Marketing y Promociones</h4>
            <h3 class="tab__title">Envía por chat las novedades y promociones.</h3>
          </div>
          <div class="tab__image">
            <%= image_tag "tab-2.png" %>
          </div>
        </article>
      </div>
      <div class="tab" data-tab="3">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Ventas / Ecommerce</h4>
            <h3 class="tab__title">Recomienda productos, finaliza tu venta y realiza ventas cruzadas</h3>

          </div>
          <div class="tab__image">
            <%= image_tag "tab-3.png" %>
          </div>
        </article>
      </div>
      <div class="tab" data-tab="4">
        <article class="container columns">
          <div class="tab__info">
            <h5 class="tab__label">Chatbot para</h5>
            <h4 class="tab__subtitle">Lideres de Opinión , Equipos Deportivos & Celebrities</h4>
            <h3 class="tab__title">Habilita el canal de chat para interactuar con tus seguidores y brinda información relevante, contenido exclusivo y respuestas 1:1</h3>

          </div>
          <div class="tab__image">
            <%= image_tag "tab-4.png" %>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="text-center">
      <h4 class="section__subtitle">¡Personaliza tu Chatbot!</h4>
      <h3 class="section__title">Tú asistente digital puede automatizar <br> las tareas que más necesites</h3>
    </div>
    <div class="features__list">
      <div class="features__item wow fadeIn" data-wow-delay="0.2s" >
        <div class="features__icon">
          <%= image_tag "f1.svg" %>
        </div>
        <h4 class="features__title">Feedback / Encuestas</h4>
        <p class="features__text">Conoce la opinión de tus clientes sobre tu producto o servicio a través de encuestas diferenciadas por chat</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="0.4s" >
        <div class="features__icon">
          <%= image_tag "f2.svg" %>
        </div>
        <h4 class="features__title">Citas y Reservaciones</h4>
        <p class="features__text">El bot se convierte en un asistente que maneja tu agenda y brinda disonibilidad de citas segun tu calendario.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="0.6s" >
        <div class="features__icon">
          <%= image_tag "f3.svg" %>
        </div>
        <h4 class="features__title">Capacitación</h4>
        <p class="features__text">Te permite difundir conocimiento y evaluar el aprendizaje del mismo por chat.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="0.8s" >
        <div class="features__icon">
          <%= image_tag "f4.svg" %>
        </div>
        <h4 class="features__title">Notificaciones</h4>
        <p class="features__text">Envia recordatorios y reactiva la conversación con tus clientes y/o futuros clientes.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="1s" >
        <div class="features__icon">
          <%= image_tag "f5.svg" %>
        </div>
        <h4 class="features__title">Integraciones</h4>
        <p class="features__text">Integra el bot con tus sistemas para ofrecer tus productos y servicios en un nuevo canal.</p>
      </div>
      <div class="features__item wow fadeIn" data-wow-delay="1.2s">
        <div class="features__icon">
          <%= image_tag "f6.svg" %>
        </div>
        <h4 class="features__title">Envios de Multimedia</h4>
        <p class="features__text">Nuestros bots son interactivos  y utilizan imágenes, gifs,  audios y videos para tener un mejor engagement con tus usuarios.</p>
      </div>
      <!-- <div class="features__item wow fadeIn" data-wow-delay="1.4s" >
        <div class="features__icon">
          <i class="fas fa-user"></i>
        </div>
        <h4 class="features__title">Intervención Humana</h4>
        <p class="features__text">El chatbot escala con un humano aquellas conversaciones que necesiten especial atención</p>
      </div> -->
    </div>
    <div class="text-center">
      <p class="more">Y muchas otras funciones especializadas para tus negocios...</p>
    </div>
  </div>
</section>

<section class="facebook">
    <div class="container">
      <div class="facebook__info">
        <h3 class="facebook__title">Why Facebook Messenger?</h3>
        <p class="facebook__text">It is the most engaging channel with average 80% open rates and 4 to 10 times higher CTRs compared to email. Your audience already uses Messenger everyday and your business should be a part of that conversation.</p>
  
        <div class="facebook__stats">
          <div class="facebook__stat">
            <strong>1 Billion</strong>
            <span>Active Users</span>
          </div>
          <div class="facebook__stat">
            <strong>80%</strong>
            <span>Open Rates</span>
          </div>
          <div class="facebook__stat">
            <strong>x4-10</strong>
            <span>CTRs</span>
          </div>
        </div>
      </div>
      <div class="facebook__image">
        <%= image_tag "facebook.svg", class: "wow fadeIn" %>
      </div>
    </div>
  </section>

<section class="call-to wow fadeIn">
  <div class="container">
    <div>
      <p class="call-to__text">¡Logra un <strong>90% de automatización</strong><br> en las interacciones con tus clientes!</p>
    </div>
    <div>
      <a class="btn btn-action" href="https://yubots.typeform.com/to/XpPS4b" target="_blank">Solicitar Demo</a>
    </div>
  </div>
</section>

<section class="process">
  <div class="container">
    <div>
      <h4 class="section__subtitle">Proceso</h4>
      <h3 class="section__title">¿Cómo creamos el chatbot <br> perfecto para tu negocio?</h3>
    </div>

    <div class="columns">

      <div class="columns process__step wow fadeIn">
        <article class="process__item">
          <div class="process__item-icon">
            <%= image_tag "p1.svg" %>
          </div>
          <h4 class="process__item-step">Primer Paso</h4>
          <h3 class="process__item-title">Discovery</h3>
          <p class="process__item-text">El primer paso es conocer patrones en conversaciones, entender motivos e intenciones de tus clientes. Hacemos un díagonstico de las necesidades y oportunidad detectadas</p>
        </article>
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow right" %>
        </div>
      </div>

      <div class="columns process__step wow fadeIn" data-wow-delay="0.4s">
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow left" %>
        </div>
        <article class="process__item">
          <div class="process__item-icon">
            <%= image_tag "p2.svg" %>
          </div>
          <h4 class="process__item-step">Segundo Paso</h4>
          <h3 class="process__item-title">Design</h3>
          <p class="process__item-text">Diseñamo el flujo de la conversación así como la imágen que tendrá tu bot. Creamos una experiencia para tus clientes mientras hacemos mas eficiente la atención que les brindas.</p>
        </article>
      </div>

      <div class="columns process__step wow fadeIn">
        <article class="process__item wow fadeIn">
          <div class="process__item-icon">
            <%= image_tag "p3.svg" %>
          </div>
          <h4 class="process__item-step">Tercer Paso</h4>
          <h3 class="process__item-title">Development</h3>
          <p class="process__item-text">Nosotros nos encargamos de darle vida a tu bot, entrenarlo y ponerlo a trabajar. </p>
        </article>
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow right" %>
        </div>
      </div>

      <div class="columns process__step wow fadeIn">
        <div class="arrow-container">
          <%= image_tag "arrow.svg", class: "arrow blank" %>
        </div>
        <article class="process__item">
          <div class="process__item-icon">
            <%= image_tag "p4.svg" %>
          </div>
          <h4 class="process__item-step">Cuarto Paso</h4>
          <h3 class="process__item-title">Launch & Mantanence</h3>
          <p class="process__item-text">Nos ocupamos de actualizar y mantener a tu bot para que crezca así como crece tu negocio. Nos encargamos que tu bot aprenda de la interacción diara con tus clientes para que no se le escape nada</p>
        </article>
      </div>


    </div>
  </div>
</section>

<section class="contact text-center" id="contact">
  <div class="wow fadeIn">
    <h2 class="contact__title">¡Queremos ayudarte a mejorar tu negocio!</h2>
    <p class="contact__text">Contactanos ahora para agendar un diagnostico y <br> comienza a vender más.</p>
    <a href="#" class="btn-contact btn">Solicitar Demostración <i class="fab fa-facebook-messenger"></i></a>
    <div class="contact__more wow fadeInUp" data-wow-delay="0.4s">
      <span>O contactanos:</span>
      <nav class="contact__nav">
        <div>
          <i class="fas fa-phone"></i>
          <a href="mailto:contacto@yubots.mx">hola@yubots.com.mx</a>
        </div>
        <div>
          <i class="fas fa-envelope"></i>
          <a href="mailto:contacto@yubots.mx">+1 81 8088 7470</a>
        </div>
        <div>
          <i class="fab fa-facebook"></i>
          <a href="https://www.facebook.com/yubotsmx/">/yubots</a>
        </div>
      </nav>
    </div>
  </div>
</section>